@CHARSET "UTF-8";


.video-play{ 
  position: absolute;
  top: 4%;
  left: 0px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index:55;
}
.video-play:hover{ 
  opacity: 80;
  filter: alpha(opacity=80);
}


.video-div-thumbnail{
	position:relative;
	margin:auto
}

.video-div-thumbnail img{
	width:100%;
}


.video-youtube-iframe{
	//position : relative;
	display: block;
	margin: 25px auto;
}


.video-margin-bottom{
	margin-bottom:20px;
}