@CHARSET "UTF-8";

.accueil-img-hover:hover{
    opacity:0.4;
    filter:alpha(opacity=40);
}

.accueil-container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
	padding-right: 25px;	
}


.accueil-portfolio-picture{
	margin-bottom: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

/* from activity for the modal*/
.activity-picture-inner-content{
	display: inline-block;
	position : relative;
}

.activity-picture-content{
	margin:auto; 
	position:relative; 
	text-align:center;
}

