@CHARSET "UTF-8";

.accueil-img-hover:hover{
    opacity:0.4;
    filter:alpha(opacity=40);
}


.accueil-portfolio-picture{
	margin-bottom: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

/* from activity for the modal*/
.activity-picture-inner-content{
	display: inline-block;
	position : relative;
}

.activity-picture-content{
	margin:auto; 
	position:relative; 
	text-align:center;
}



/* Half Page Height Carousel Customization */
.carousel {
  height: 50%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Responsive Styles */
@media (max-width: 767px) {

.carousel {
  height: 70%; /* increases the carousel height so it looks good on phones */
}

}