body{
   // background-image: url("../images/bg.JPG");
}

.DateInputTable{
	width:80%;
}

h3{
    //background-image: url("../../../img/icons/lapinou.png");
    background-image: url("../img/W_transp-black.png");
   
    padding-left: 35px;
    padding-top: 23px;
    padding-bottom: 15px;
    
	background-repeat: no-repeat; 
    background-position: left center;
}

.casebox{
    border: 1px #F2F2F2 solid;
    background-color: #eeeeee;
    margin-bottom:15px;
    padding:10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.rightsite{
    //margin-right:10px;
    position:relative;
    float:right;
}

table.tablesorter{
    margin-left:auto;
    margin-right:auto;
    margin-top : 30px;
}

table.tablesorter thead tr .header {
	background-image: url(../img/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.gif);
}

.help_content{
    padding-left:30px;
    margin-bottom:10px;
    padding:10px;
}
.help_content:hover{
    background-image:url(../img/hover.png);
    background-color:#F2F2F2;
}
.help_option{
    position:relative;
    float:right;
    margin-right:20px;
}

.img_button{
	width:20px;
	margin-left:auto;
	margin-right:auto;	
}
.img_button:hover{
	width:20px;
	align:center;
	opacity:0.4;
	filter:alpha(opacity=40);	
}


.progress-content{
    width:70%;
    margin:auto;
    position:relative;
    margin-bottom:20px;
}
.progress-content p{
    text-align:center;
    color:#1C1C1C;
    font-size:12pt;
    font-weight:bold;
}

.centered{
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

p.center{
    text-align:center;
}

.execution-log{
    width:85%;
    margin:auto;
    height:400px;
    overflow:auto;
    position:relative;
}

.clearer { visibility: hidden; clear: both; }
